<!DOCTYPE HTML>
<html>
	<head>
		<title>Downtown Cabs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Sign-Up</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Downtown Cabs</h1>
						<p>Cab booking done with ease.<br /> 
							<br/> Great value, excellent service and trusted service when you choose Downtown Cabs . </p>
					</header>
					<a href="#main" class="button big scrolly">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<img src="../static/images/abc.jpg" alt="" />
										</div>
									</div>
									<div class="col col2">
										<h3>Downtown Cabs </h3>
										<p><strong>Comfort brought to your doorstep.</strong></p>
											
										<p>Travel made simpler with us. Great offers and amazing deals. Your comfort is our priority. </p>

									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>About Us</h3>
									<p>Downtown Cabs a startup company founded in 2017, has gained immense recognition in the past one year, for it's customer-comes-first policy. Launched in Coimbatore initially, Downtown Cabs has spread across the state of Tamil Nadu providing quality services to does who avail it.</p>


								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<img src="../static/images/xyz.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</section>



		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
