<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wall1</title>
    <link rel="stylesheet" href="../static/css/bootstrapwall.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

    <div class="container"></div>
    <div class="container"></div><strong>     </strong>
    <div></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">                                 DOWNTOWN CABS</h3></div>
        <div class="panel-body"><span>          HI MUGUNTH    </span></div>
    </div>
    <div class="jumbotron">
        <h1>YOUR BALANCE</h1>
        <p class="text-center">{{bal}} </p>
        <p><a class="btn btn-default" role="button" href="/pay">ADD MONEY TO WALLET</a></p>
    </div><a href="/dashboard">                                                go back to DASHBOARD</a>
    <script src="../static/js/jquerywall.min.js"></script>
    <script src="../static/js/bootstrapwall.min.js"></script>
</body>

</html>